* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    text-shadow: 0 0 1rem #000;
}

.dashboard {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "top-left . top-right"
        ". center ."
        "bottom-left . .";
    gap: 1rem;
    padding: 1rem;
}

.top-left {
    grid-area: top-left;
    align-self: start;
    justify-self: start;
}

.top-right {
    grid-area: top-right;
    align-self: start;
    justify-self: end;
}

.center {
    grid-area: center;
    align-self: center;
    justify-self: center;
}

.bottom-left {
    grid-area: bottom-left;
    align-self: end;
    justify-self: start;
}